.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 30px 0 30px;
    max-width: 1700px;
    margin: 0 auto;
    color: white;
}

.score {
    flex-shrink: 0;
    padding: 15px;
    margin-left: 40px;
    background-color: rgb(49, 126, 156);
    color: white;
    font-size: 24px;
    border-radius: 20px;
    box-shadow: 0px 5px 15px #424242, -0px -5px 15px #424242;
    & div:first-child {
        margin-bottom: 10px;
    }
}

.header-container img {
    height: 120px;
    cursor: pointer;
    transition: transform 0.6s;
}

.header-container img:hover {
    transform: scale(1.1);
}

.playGround {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 30px;
    padding: 0 40px 0 40px;
    margin: 30px 0 30px 0;
}

.card-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    aspect-ratio: 1 / 1.546;
    width: 220px;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
    cursor: pointer;
}

.card.flipped {
    transform: rotateY(180deg);
}

.tilt {
    height: 100%;
    transform-style: preserve-3d;
}

.character-holder,
.card-face {
    background-size: cover;
    background-position: center;
    border-radius: 25px;
}

.character-holder,
.card-face {
    height: 100%;
    width: 100%;
}

.card-face {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    width: 100%;
    height: 100%;
    padding: 7px 8px 10px 8px;
    flex-shrink: 0;
    background-image: url(../assets/img/ALOK.jpeg);
    color: white;
    font-size: 22px;
}

.card-back {
    height: 100%;
    background: url(../assets/img/ALOK.jpeg);
    backface-visibility: hidden;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    transform: rotateY(180deg);
}

.name {
    margin-top: 5px;
    text-align: center;
}

.remain-indicator {
    font-size: 20px;
    color: white;
}

.win {
    position: absolute;
    aspect-ratio: 1.82 / 1;
    width: 800px;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url(../assets/img/won.jpeg);
    background-size: 100% 180%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25px;
    box-shadow: 0px 5px 20px #113661, -0px -5px 20px #113661;
}

.win div {
    margin-top: 25px;
    font-size: 40px;
    padding: 15px 30px 15px 30px;
    background-color: rgb(50, 104, 165);
    color: white;
    border-radius: 20px;
}

.win button {
    margin-bottom: 25px;
    font-size: 26px;
    padding: 12px 20px 12px 20px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    transition: scale .7s ease-in-out;
}

.lost {
    position: absolute;
    aspect-ratio: 1.82 / 1;
    width: 800px;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url(../assets/img/korad.jpeg);
    background-size: 100% 120%;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 25px;
    box-shadow: 0px 5px 20px #611111, -0px -5px 20px #611111;
}

.lost div {
    margin-top: 25px;
    font-size: 40px;
    padding: 15px 30px 15px 30px;
    background-color: rgb(175, 15, 15);
    color: white;
    border-radius: 20px;
}

.lost button {
    margin-bottom: 25px;
    font-size: 26px;
    padding: 12px 20px 12px 20px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    transition: scale .7s ease-in-out;
}

.overlay {
    position: absolute;
    height: 150%;
    width: 100%;
    background-color: black;
}

.win button:hover {
    scale: 1.2;
}

.lost button:hover {
    scale: 1.2;
}

@media only screen and (max-width:1260px) {
    .card {
        width: 180px;
    }
}

@media only screen and (max-width:1010px) {
    .card {
        width: 140px;
    }
    .logo {
        width: 300px;
    }
    .start-page h1 {
        font-size: 40px;
    }
    .win,
    .lost {
        width: 85.2vw;
        div {
            font-size: 3.95vw;
        }
        button {
            font-size: 2.6vw;
        }
    }
}

@media (min-width: 1010px) {
    .svg {
        fill: black;
        transition: 1s;
    }
    footer button {
        background-color: rgb(168, 106, 37);
        transition: background-color 1s, transform 0.2s;
    }
}

@media only screen and (max-width: 600px) {
    .card {
        width: max(35.5vw, 100px);
    }
}